{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <title>frontend</title>
  <link href="{% static 'viewapp/css/chunk-vendors.08d05c18.css' %}" rel="stylesheet">
  <link href="{% static 'viewapp/css/app.76f7a4a7.css' %}" rel="stylesheet">
</head>
<body>
  <noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <script defer="defer" src="{% static 'viewapp/js/chunk-vendors.2bf20505.js' %}"></script>
  <script defer="defer" src="{% static 'viewapp/js/app.e2b7962f.js' %}"></script>
</body>
</html>
